page-myInfo {
  
    .icontent {

        .ilist {
            
            .iheader {
                background-color: #e9ebee;
                margin: 0px;
            }

            .iitem {

                .inote {
                }

                .signout {
                    cursor: pointer;
                    color: #0CB3B6;
                }
            }
        }
    }
}
