page-myInfo {
  
    .icontent {

        .scroll-content {
            background-color: #e9ebee !important;

            .ilist {
                .iheader {
                    background-color: #e9ebee;
                    margin: 0px;
                }
    
                .iitem {
    
                    .inote {
    
                    }
    
                    .signout {
                        color: #0CB3B6;
                    }
                }
            }
        }
    }
}
