<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Word modification</ion-title>
  </ion-navbar>
</ion-header>
  
<ion-content class="icontent">

  <ion-list class="searchlist">
    <ion-item>
      <ion-label>Subject</ion-label>
      <ion-select [(ngModel)]="selectedSub" cancelText="Cancel" okText="Select" 
                  (ionChange)="changeSubject()">
        <ion-option *ngFor="let sub of subjects" value="{{sub.key}}">{{sub.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="selectedCat" cancelText="Cancel" okText="Select"
                  [disabled]="selectedSub == null" (ionChange)="changeCategory()">
        <ion-option *ngFor="let cat of categories" value="{{cat.key}}">{{cat.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Lecture</ion-label>
      <ion-select [(ngModel)]="selectedLec" cancelText="Cancel" okText="Select" 
                  [disabled]="selectedCat == null" (ionChange)="changeLecture()">
        <ion-option *ngFor="let lec of lectures" value="{{lec.key}}">{{lec.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list class="tablelist" *ngIf="searchFlag == true">
    <ion-item>
      <button ion-button item-left class="saveBtn" (click)="saveWord()">SAVE</button>
      <button class="downloadBtn" (click)="export()" item-right>
        <ion-icon name="cloud-download"></ion-icon>
      </button>
    </ion-item>
    
    <ion-item>
      <ion-grid class="gtable">
        <ion-row class="gheader">
          <ion-col col-6>Num</ion-col>
          <ion-col col-17>head1</ion-col>
          <ion-col col-17>head2</ion-col>
          <ion-col col-30>body1</ion-col>
          <ion-col col-30>body2</ion-col>
        </ion-row>
        <ion-row class="grow" *ngFor="let word of words; let i = index;">
          <ion-col col-6 class="num">{{i+1}}</ion-col>
          <ion-col col-17><input type="text" [(ngModel)]="words[i].head1" value="{{word.head1}}"></ion-col>
          <ion-col col-17><input type="text" [(ngModel)]="words[i].head2" value="{{word.head2}}"></ion-col>
          <ion-col col-30><input type="text" [(ngModel)]="words[i].body1" value="{{word.body1}}"></ion-col>
          <ion-col col-30><input type="text" [(ngModel)]="words[i].body2" value="{{word.body2}}"></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
	
</ion-content>