page-wordMd {
    .icontent {

        .searchlist {}

        .tablelist {

            ion-item {
                background-color: #eeeeee;
            }
            
            .table-menu {
                padding-left: 5px;
                padding-right: 5px;

                .saveBtn {
                    width: 100px;
                }
    
                .headBtn {
                    cursor: pointer;
                    background-color: #eeeeee;
                    font-size: 1.8em;
                }
                
                .downloadBtn {
                    color: map-get($colors, level2);
                }

                .refreshBtn {
                    color: map-get($colors, secondary);
                }
    
                .addBtn {
                    color: map-get($colors, secondary);
                }

                .undoBtn {
                    color: map-get($colors, level-2);
                }
    
                .trashBtn {
                    color: map-get($colors, level-2);
                }
            }

            .table-contents {
                padding-left: 5px;
                padding-right: 5px;
                min-height: 23px;
    
                ion-grid {
                    padding: 0px;
                }

                ion-col {
                    padding: 0px;
                }

                .label-md {
                    margin: 0px;
                }
    
                .contents-row {
                    .removeWordCol {
                        text-align: right;

                        button {
                            background-color: #eeeeee;
                            color: map-get($colors, level-2);
                        }
                    }

                    .num {
                        text-align: center;
                        background-color: #eeeeee;
                        border: 1px solid #ccc;
                    }

                    input {
                        width: 100%;
                        padding: 0px;
                        border: 1px solid #ccc;
                    }

                }

                ion-reorder {
                    min-width: 5%;
                    max-width: 5%;
                    min-height: 23px;
                    max-height: 23px;
                }
            }
        }

        
    }
}
