<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Word creation</ion-title>
  </ion-navbar>
</ion-header>
  
<ion-content class="icontent">

  <ion-list class="searchlist">
    <ion-item>
      <ion-label>Subject</ion-label>
      <ion-select [(ngModel)]="selectedSub" cancelText="Cancel" okText="Select" 
                  (ionChange)="changeSubject()">
        <ion-option *ngFor="let sub of subjects" value="{{sub.key}}">{{sub.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="selectedCat" cancelText="Cancel" okText="Select"
                  [disabled]="selectedSub == null" (ionChange)="changeCategory()">
        <ion-option *ngFor="let cat of categories" value="{{cat.key}}">{{cat.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="selectedCat == '-1'" >
      <ion-label>New category name</ion-label>
      <ion-input type="text" [(ngModel)]="newCatName" value="" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Lecture</ion-label>
      <ion-select [(ngModel)]="selectedLec" cancelText="Cancel" okText="Select" 
                  [disabled]="selectedCat == null" (ionChange)="changeLecture()">
        <ion-option *ngFor="let lec of lectures" value="{{lec.key}}">{{lec.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="selectedLec == '-1'" >
      <ion-label>New lecture name</ion-label>
      <ion-input type="text" [(ngModel)]="newLecName" value="" ></ion-input>
    </ion-item>
  </ion-list>

  <ion-list class="tablelist" *ngIf="searchFlag == true">
    <ion-item>
      <button ion-button item-left class="saveBtn" (click)="saveWord()">SAVE</button>
      <button class="uploadBtn" (click)="file.click()" item-right>
        <ion-icon name="cloud-upload"></ion-icon>
      </button>
      <input #file type="file" (change)="onFileChange($event)" multiple="false" style="display: none" />
    </ion-item>
    
    <ion-item>
      <ion-grid class="gtable">
        <ion-row class="gheader">
          <ion-col col-6>Num</ion-col>
          <ion-col col-17>head1</ion-col>
          <ion-col col-17>head2</ion-col>
          <ion-col col-30>body1</ion-col>
          <ion-col col-30>body2</ion-col>
        </ion-row>
        <ion-row class="grow" *ngFor="let row of data; let i = index;">
          <ion-col col-6 class="num">{{i+1}}</ion-col>
          <ion-col col-17><input type="text" [(ngModel)]="data[i][0]" value="{{row[0]}}"></ion-col>
          <ion-col col-17><input type="text" [(ngModel)]="data[i][1]" value="{{row[1]}}"></ion-col>
          <ion-col col-30><input type="text" [(ngModel)]="data[i][2]" value="{{row[2]}}"></ion-col>
          <ion-col col-30><input type="text" [(ngModel)]="data[i][3]" value="{{row[3]}}"></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
	
</ion-content>