page-userLog {
    
    .icontent {
        user-select: text;

        .ilist {
            margin-bottom: 15px;
            
            .iitem {
                background-color: #e9ebee;
            }
        }
    }
}
