page-user {

    .icontent {
        user-select: text;

        .ilist {

            ion-item-sliding {
                background-color: #e9ebee;
            } 
            
            .ilist-item {
                background-color: #e9ebee;
            }

            .ilist-itemoption {

                button {
                    width: 50px;
                } 
            }
        }
    }
}
