<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>로그인</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content class="icontent" padding>
  
  <ion-list class="ilist">
    <form [formGroup]="signInForm" (ngSubmit)="signIn()">
      <!-- Email -->
      <ion-item class="item-form">
        <ion-label floating>Email</ion-label>
        <ion-input type="text" [formControl]="email" autocapitalize="off" value="" ></ion-input>
      </ion-item>
      <ion-item class="invalid" no-lines>
          <p *ngIf="email.hasError('required') && email.touched">* Email is required!</p>
      </ion-item>

      <!-- Password -->
      <ion-item class="item-form">
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [formControl]="password" autocapitalize="off" value="" ></ion-input>
      </ion-item>
      <ion-item class="invalid" no-lines>
          <p *ngIf="password.hasError('required') && password.touched" >* Password is required!</p>
      </ion-item>
      
      <ion-item class="item-btn" no-lines>
        <button type="submit" class="signInBtn" ion-button block [disabled]="(!signInForm.valid)">SIGN IN</button>
        <div class="forgotPwDiv"><a (click)="clickForgotPwBtn()">Forgot password?</a></div>
        <div class="signUpDiv">Don't have an account? <a (click)="clickSignUpBtn()" >Sign up</a></div>
      </ion-item>
    </form>


    <ion-item style="color: white">
      <div>uid : {{_auth.uid}}</div>
      <div>is signed in? : {{_auth.isSignedIn}}</div>
      <div>emailVerified : {{_auth.emailVerified}}</div>
      <div (click)="testSignOut()" >logout</div>
    </ion-item>
  </ion-list>



  <!-- <br><br>```````````````````````````````````````````````````````````<br> -->
  <!-- <h3>Ionic sing in page</h3> -->
  <!-- <div>email : {{_auth.email}}</div>
  <div>name : {{_auth.name}}</div>
  <div>photoURL : {{_auth.photoURL}}</div>
  <div>createDate : {{_auth.createDate}}</div>
  <div>lastSigninDate : {{_auth.lastSigninDate}}</div>
  <div>signinCnt : {{_auth.signinCnt}}</div>
  <div>vKey : {{_auth.vKey}}</div>
  <div>vDate : {{_auth.vDate}}</div>
  <br>
  <div>is signed in? : {{_auth.isSignedIn}}</div>
  <div>is authenticated : {{_auth.isAuthenticated}}</div>
  <br>
  <div>display name: {{_auth.currentUserDisplayName}}</div> -->

</ion-content>
