<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="!searchClicked">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!searchClicked">인증 관리</ion-title>
    <ion-buttons end *ngIf="!searchClicked" (click)="searchClicked = true" >
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons start style="order: 1;" *ngIf="searchClicked" (click)="cancelSearch()">
      <button ion-button icon-only style="width: 40px; padding-left: 2px;">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar end (ionInput)="searchVs($event)" placeholder="Name or email" *ngIf="searchClicked" (click)="clearSearch($event)"></ion-searchbar>
  </ion-navbar>
</ion-header>
  
<ion-content class="icontent" scroll=false>

  <ion-list class="ilist">
    <ion-item-sliding *ngFor="let v of vList">
      <ion-item class="ilist-item">
        <h2>{{v.key}}</h2>
        <p *ngIf="v.vUid" class="key-used">{{v.vUid}}</p>
        <p *ngIf="!v.vUid" class="key-unused">Unused</p>
      </ion-item>
      <ion-item-options side="right" class="ilist-itemoption">
        <button ion-button color="primary" (click)="showVInfo(v.key)" >
          <ion-icon name="information-circle"></ion-icon>
          정보
        </button>
        <button ion-button color="danger" *ngIf="!v.vUid" (click)="deleteV(v.key)" >
          <ion-icon name="trash"></ion-icon>
          삭제
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab mini (click)="createV()" ><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>